services:

  db:
    image: mysql:8
    container_name: cdy_mysql
    ports:
      - 3307:3306 # 로컬 호스트의 3307을 컨테이너 3306에 연결

    env_file:
      - ./.env

    volumes:
      - mysql_data:/var/lib/mysql

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping" ]
      interval: 5s
      retries: 10
volumes:
  mysql_data:

